{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="card">


        <div class="card-body">
            <form method="POST">


                <h4 class="h4 text-lg-center" align="center"><small class="text-muted">Create Student Account</small></h4>

                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name"/>
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                           placeholder="Enter email"/>
                    <small id="emailHelp" class="form-text text-muted">Your email will not be public on your
                        profile</small>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
                </div>
                <div class="form-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm-password" name="confirm-password"
                           placeholder="Confirm Password"/>
                </div>
                <div class="form-group">
                    <label for="school-id">School Code (id)</label>
                    <input type="text" class="form-control" id="school-id" name="school-id"
                           placeholder="Enter Your School's Code"/>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-chet-input" type="checkbox" id="remember-me" name="remember-me">
                        Remember me
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>


                </div>

                <div class="card">
                    <button type="submit" class="btn btn-primary">Sign Up</button>

                    <a class="nav-link-active text-primary" href="/auth/sign-up-teacher">Create Teacher Account Instead</a>
                </div>

            </form>
        </div>
    </div>
{% endblock %}