{% extends "base.html" %}

{% block title %}See Students{% endblock %}

{% block content %}

    {% for current_user in student_user.keys() %}

        <!-- TODO: Fix dropdown not working for students -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown{{ current_user.id }}"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ current_user.name }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdown{{ current_user.id }}">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>

    {% endfor %}

{% endblock %}